</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>


<!-- jquery -->
<script src="./../public/plugins/jquery.min.js"></script>
<!-- bootstrap -->
<script src="./../public/plugins/bootstrap/bootstrap.min.js"></script>
<!-- Slick Slider -->
<script src="./../public/plugins/slick/slick.min.js"></script>
<script src="./../public/plugins/slick/slick-animation.min.js"></script>
<!-- FancyBox -->
<script src="./../public/plugins/fancybox/jquery.fancybox.min.js" defer></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="./../public/plugins/google-map/gmap.js" defer></script>

<!-- jquery-ui -->
<script src="./../public/plugins/jquery-ui/jquery-ui.js" defer></script>
<!-- timePicker -->
<script src="./../public/plugins/timePicker/timePicker.js" defer></script>

<!-- script js -->
<script src="js/script.js"></script>
</body>

</html>